mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
  padding-right: 24px;
}






.student-element-detail{
width: 100%;
}
.student-detail-row {
min-height: 0;
}
.student-detail-row mat-cell
{
background: var(--body-color);
  box-shadow: inset 3px 0px 5px var(--third-color),inset -3px 0px 5px var(--third-color);

}
.text-success{
text-shadow: 2px 2px 5px #a4a9ac;
}
.mat-list-base {

  margin: auto;
}
