span{
    padding: 10px 5px;
    font-size: 25px;
    font-weight: bold;
    color: #232a2e;
    text-shadow: 2px 2px 2px grey;
  }
  span.total{
    position: absolute;
      left: 44%;
      top: 50%;
      transform: translateY(-50%);
      font-size: 20px;
      font-weight: bold;
      color: gray;

  }
  span.tot{
    position: absolute;
    left: 44%;
    top: 45%;
    transform: translatey(-50%);
    font-size: 18px;
    font-weight: bold;
    color: gray;
  }
  .mat-badge-medium.mat-badge-above .mat-badge-content {
    top: 5px !important;
  }

  .mat-badge-medium .mat-badge-content {
    width: 22px ;
    height: 22px;
    line-height: 2px !important;
    font-size: 10px !important;
  }




.input-group{
  height: 35px;
}




  .mat-button{
    min-width: 24px !important;
}


  /* new */
  .border-left-info {
    border-left: .25rem solid  var(--main-color)!important;
}
.align-items-center {
    align-items: center!important;
}
.col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}
.text-xs {
    font-size: .8rem;
}

.text-info {
    color: var(--main-color)!important;
}
.bg-info {
    /* background-color: #17a2b8 !important; */
    background:linear-gradient(45deg, #8e2279,#80868b, #d7d7d7);
    /* background: linear-gradient(45deg, #2f3e42, #9bd6e5); */
}
.progress-sm {
    height: .9rem;
}
.box{
  margin-top: -80px;
  position: relative;
  background: #fff;
  padding-top: 50px;
}

