<mat-card class="example-card">
  <mat-card-header>
      <mat-card-title>
          سجلات المخزن
      </mat-card-title>

  </mat-card-header>
  <mat-divider></mat-divider>

  <div class="search-div" fxLayout="row">




    <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput [(ngModel)]="searchKey" placeholder="بحث" autocomplete="off" (keyup)="applyFilter($event)">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
           <mat-icon>close</mat-icon>
       </button>

   </mat-form-field>
  </div>

  <!-- <div class="spinner" *ngIf="dataSource==null || loader ;else table">
    <span>Loading Data ...</span>
    <mat-progress-bar class="example-margin"  mode="buffer" value="50">
  </mat-progress-bar>

  </div>

  <ng-template #table> -->
    <div class="example-container mat-elevation-z8" >

    <mat-table [dataSource]="dataSource"  #table   matSort (matSortChange)="sortData($event)" matSortActive="name" matSortDirection="asc" matSortDisableClear >

      <ng-container matColumnDef="Id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> رقم</mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="رقم"> {{element.id}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="ElementId">
          <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> رقم العنصر  </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="رقم العنصر"> {{element.elementId}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="ActionType">
          <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> نوع الاجراء</mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="نوع الاجراء"> {{element.actionType}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="UserName">
          <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> اسم المستخدم</mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="اسم المستخدم">{{element.userName}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="CreationDate">
          <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> التاريخ
          </mat-header-cell>
          <!-- {{element.creationDate|date : 'yyyy-MM-dd'}}  -->
          <mat-cell *matCellDef="let element" data-label="تاريخ الانشاء"> {{element.creationDate | date:"short"}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Descirption">
        <mat-header-cell mat-header-cell *matHeaderCellDef> التفاصيل</mat-header-cell>
        <mat-cell *matCellDef="let element ,let row" data-label="descirption">
      <!-- <button mat-button class="text-info"    matTooltip="View Details" (click)="Details(element.descirption)"> -->
        <button mat-button class="text-info"    matTooltip="View Details" >
        <mat-icon>visibility</mat-icon>
       </button>
    </mat-cell>
    </ng-container>
      <!-- <ng-container matColumnDef="Descirption">
        <mat-header-cell mat-header-cell *matHeaderCellDef> التفاصيل</mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="descirption">
    <button mat-button class="text-success"    matTooltip="View Details" (click)="row.isExpanded = !row.isExpanded">
        <mat-icon>content_paste_search</mat-icon>
    </button>
    </mat-cell>
    </ng-container> -->

    <!-- <ng-container matColumnDef="expandedDetail">
      <mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">

        <div class="row student-element-detail" [@detailExpand]="element.isExpanded ? 'expanded' : 'collapsed'">
          <mat-list>

            <mat-list-item >
              {{element.descirption}}

            </mat-list-item>
          </mat-list>
      </div>

      </mat-cell>
    </ng-container> -->





      <!-- <ng-container matColumnDef="updateDate">
          <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>تاريخ التعديل
          </mat-header-cell>
          <mat-cell *matCellDef="let element" data-label="تاريخ التعديل"> {{element.updateDate|date}} </mat-cell>
      </ng-container> -->






<ng-container matColumnDef="noData">
  <mat-footer-cell *matFooterCellDef colspan="10">
      .... لا يوجد بيانات
  </mat-footer-cell>

</ng-container>


  <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(dataSource.data.length==0 && dataSource !=null)}"></mat-footer-row>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  <!-- <mat-row *matRowDef="let row; columns: displayedColumns;" class="student-element-row"
  [class.student-expanded-row]="row.isExpanded"></mat-row> -->
   <!-- Extra row to show detail content column -->
  <!-- <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="student-detail-row"></mat-row> -->

</mat-table>
<!-- end test -->
</div>
<!-- </ng-template> -->

<mat-paginator [pageSizeOptions]="[10, 25,50, 100]" [pageSize]="10" (page)="pageChanged($event)" showFirstLastButtons>
</mat-paginator>
</mat-card>



<ngx-spinner type="timer">
  <h5>Loading</h5>
</ngx-spinner>
