
<mat-card class="example-card">
  <mat-card-header>
      <mat-card-title>
      حالة المخزن
      </mat-card-title>


      <button mat-button class="opt ml-2 " (click)="onCreate()">
          <mat-icon class="add-new ico" >add</mat-icon>
       <span class="txt mr-1">اضافة جديد</span>
      </button>
      <!-- ----------------------------------------- -->
      <button mat-button class="opt " [matMenuTriggerFor]="menu" aria-label="">
          <mat-icon  class="txt" >insert_drive_file</mat-icon>
          <span class="txt mr-1">خيارات إضافيه</span>
        </button>
        <mat-menu #menu="matMenu" >

          <button mat-menu-item class="text-right"  (click)="exportExcel()">

              <span class=" mr-1">تصدير الى اكسل </span>
              <mat-icon class="txt">file_download</mat-icon>

          </button>

          <button mat-menu-item class="text-right"  (click)="ExportTOEmptyExcel()">

              <span class=" mr-1">تحميل ملف اكسل فارغ</span>
              <mat-icon class="txt">file_download</mat-icon>

          </button>
          <button mat-menu-item class="text-right"   (click)="openBottomSheet()">

              <span class=" mr-1">اضافه من اكسل</span>
              <mat-icon class="txt" >add</mat-icon>

          </button>

        </mat-menu>


  </mat-card-header>
  <mat-divider></mat-divider>
<div class="search-div" fxLayout="row">

  <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
     <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
          <mat-icon>close</mat-icon>
      </button>
  </mat-form-field>
</div>

<div *ngIf="dataSource==null;else table">
  <app-loading-page></app-loading-page>
</div>

<ng-template #table>
  <div class="example-container mat-elevation-z8">

<mat-table [dataSource]="dataSource" multiTemplateDataRows  matSort >


  <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="ID"> {{element.id}} </mat-cell>
  </ng-container>


  <ng-container matColumnDef="name">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="name"> {{element.name}} </mat-cell>
  </ng-container>


  <ng-container matColumnDef="age">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Age </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Age"> {{element.age}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="address">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Address </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Address"> {{element.address}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="history">
      <mat-header-cell mat-header-cell *matHeaderCellDef> History</mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="action">
          <button mat-button class="text-warning">
              <mat-icon>history</mat-icon>
              Show History
          </button>


      </mat-cell>

  </ng-container>
  <ng-container matColumnDef="action">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="action">


          <button mat-button   class="btn-success mx-1"  matTooltip="Edit" (click)="onEdit()">
              <mat-icon>edit</mat-icon>
          </button>

          <button mat-button   class="btn-danger"   matTooltip="Delete" (click)="onDelete()">
              <mat-icon>delete_forever</mat-icon>
          </button>
      </mat-cell>

  </ng-container>


  <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
         No Data ...
      </mat-footer-cell>

  </ng-container>



  <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(dataSource.data.length==0 && dataSource !=null)}"></mat-footer-row>
  <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" class="student-element-row"></mat-row>
   <!-- Extra row to show detail content column -->


</mat-table>
<!-- end test -->
</div>

</ng-template>

<mat-paginator [pageSizeOptions]="[5,25, 50, 100]"   [pageSize]="5"   showFirstLastButtons></mat-paginator>

</mat-card>


<!-- <button mat-raised-button class="export">Generate Report</button> -->
