<div class="my-3" dir="rtl">
  <mat-accordion>
    <mat-expansion-panel  (opened)="openAdvancedSearch()"
    (closed)="panelOpenState = true" >
      <mat-expansion-panel-header>
        <mat-panel-title style="line-height: 3;">
       بحث متقدم

        </mat-panel-title>
        <img src="../../../assets/image/ex.png" class="ml-3" (click)="ExportExitPermitExcel($event)" height="40px" width="40px">
      
      </mat-expansion-panel-header>
      <mat-divider></mat-divider>
      <div class="text-right w-100 pr-3 mt-2">
      <button mat-icon-button  class="text-success mx-1 " (click)="SaveFavoriteSearch()"  type="button" matTooltip="حفظ نتيجة البحث"><mat-icon class="size">save</mat-icon></button> 
      <button mat-icon-button class="text-warning " (click)="GetFavoriteSearch()"  type="button" matTooltip="استرجاع نتيجة البحث" ><mat-icon class="size">refresh</mat-icon></button> 
    </div>
      <form [formGroup]="service.formSearch" class="form-normal" (submit)="AdvancedSearch()">
      <mat-grid-list cols="4" rowHeight="400px">
        <mat-grid-tile>

      <div class="controles-container">
       
        <mat-form-field appearance="fill" class="serch">
          <mat-label> التعليق</mat-label>
          <input matInput formControlName="Comment" >
        </mat-form-field>
    <mat-form-field appearance="fill"  class="serch">
        <mat-label>اسم العميل</mat-label>
        <input matInput  formControlName="Customername">
      </mat-form-field>
      <mat-form-field appearance="fill"  class="serch">
        <mat-label>SerielNumber</mat-label>
        <input matInput formControlName="SerielNumber">
      </mat-form-field>
      <mat-form-field appearance="fill" class="serch">
        <mat-label>رقم الاوردر</mat-label>
        <input matInput formControlName="OrderNumber" type="number">
      </mat-form-field>
      
      <mat-form-field appearance="fill" class="serch">
        <mat-label> ReorderingPoint</mat-label>
        <input matInput formControlName="ReorderingPoint" type="number">
      </mat-form-field>
      <div  class="hid">
        <input   matInput >
      </div> 
      </div>

      </mat-grid-tile>
      <mat-grid-tile>

        <div class="controles-container">
       
         
    
          <mat-form-field appearance="fill" class="serch">
            <mat-label> PR</mat-label>
            <input matInput formControlName="BR" type="number">
          </mat-form-field>
          <mat-form-field appearance="fill" class="serch">
            <mat-label> ItemCode</mat-label>
            
            <input matInput formControlName="ItemCode" >
          </mat-form-field>
          <mat-form-field appearance="fill"  class="serch">
            <mat-label>اسم المستلم</mat-label>
            <input matInput  formControlName="RecipientName">
          </mat-form-field>
          <!-- <mat-form-field appearance="fill"  class="serch">
            <mat-label> Team</mat-label>
            <input matInput  formControlName="Team">
          </mat-form-field> -->
          <mat-form-field appearance="fill" class="serch">
            <mat-select [multiple]="true"  appendTo="body" formControlName="TeamId" placeholder=" * Team  (--اختر--) "  >
              <!-- <mat-option>-- Please select --</mat-option> -->
              <mat-option  *ngFor="let Team of TeamList"   [value]="Team.id">
                {{Team.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
       
          <mat-form-field appearance="fill" class="serch">
            <mat-select formControlName="Status" placeholder=" *  (--اختر--) الحالة"  >
              <!-- <mat-option>-- Please select --</mat-option> -->
              <mat-option    [value]=R>
                وارد
              </mat-option>
              <mat-option    [value]=O>
               منصرف
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div  class="hid " >
            <input   matInput >
          </div> 
          </div>
          </mat-grid-tile>
      <mat-grid-tile>

        <div class="controles-container">
       
          <mat-form-field appearance="fill" class="serch">
            <mat-select [multiple]="true"  appendTo="body" formControlName="ReceviedStatusId" placeholder=" *حالة الوارد  (--اختر--) "  >
              <!-- <mat-option>-- Please select --</mat-option> -->
              <mat-option  *ngFor="let ReceviedStatus of ReceviedStatusList"   [value]="ReceviedStatus.id">
                {{ReceviedStatus.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

       

          <mat-form-field appearance="fill" class="serch">
            <mat-select [multiple]="true"  appendTo="body" formControlName="OutgoingStatusId" placeholder=" *حالة المنصرف  (--اختر--) "  >
              <!-- <mat-option>-- Please select --</mat-option> -->
              <mat-option  *ngFor="let OutgoingStatus of OutgoingStatusList"   [value]="OutgoingStatus.id">
                {{OutgoingStatus.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="serch">
            <mat-select [multiple]="true"  appendTo="body" formControlName="ReceviedTypeId" placeholder=" *نوع الوارد  (--اختر--) "  >
              <!-- <mat-option>-- Please select --</mat-option> -->
              <mat-option  *ngFor="let ReceviedType of ReceviedTypeList"   [value]="ReceviedType.id">
                {{ReceviedType.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        
          <mat-form-field appearance="fill" class="serch">
            <mat-select [multiple]="true"  appendTo="body"   formControlName="TypeStatusId" placeholder=" *نوع الجهاز  (--اختر--) "  > 
              <!-- <mat-option>-- Please select --</mat-option> -->
              <input type="text" matInput class="p-2 inputFilter"
             
              placeholder="Search by name..." #typeStatusSearch (keyup)="ontypeNameInputChange()" (keydown)="$event.stopPropagation()" >
              
              <mat-option  *ngFor="let typeStatus of TypeStatusList"   [value]="typeStatus.id">
                {{typeStatus.name}}
              </mat-option> 
          
            
           </mat-select> 
          </mat-form-field>
        
        



          <mat-form-field appearance="fill" class="serch">
            <mat-select [multiple]="true"  appendTo="body" formControlName="CategoryId" placeholder=" *Category  (--اختر--) "  >
              <!-- <mat-option>-- Please select --</mat-option> -->
              <mat-option  *ngFor="let Category of CategoryList"   [value]="Category.id">
                {{Category.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="hid">
            <input   matInput >
          </div>
         

  </div>
  </mat-grid-tile>
  <mat-grid-tile>

    <div class="controles-container">
    
      <mat-form-field appearance="fill" class="serch">
        <mat-select [multiple]="true"  appendTo="body" formControlName="CompanyId" placeholder=" *  (--اختر--) اسم الشركة"  >
          <!-- <mat-option>-- Please select --</mat-option> -->
          <mat-option  *ngFor="let CompanyName of CompanyNameList"   [value]="CompanyName.id">
            {{CompanyName.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="serch">
        <mat-select [multiple]="true"  appendTo="body" formControlName="LocationId" placeholder=" *Location  (--اختر--) "  >
          <!-- <mat-option>-- Please select --</mat-option> -->
          <mat-option  *ngFor="let Location of LocationList"   [value]="Location.id">
            {{Location.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field appearance="fill" class="serch">
        <mat-select [multiple]="true"  appendTo="body" formControlName="AcceptanceId" placeholder=" *Acceptance  (--اختر--) "  >
          <!-- <mat-option>-- Please select --</mat-option> -->
          <mat-option  *ngFor="let Acceptance of AcceptanceList"   [value]="Acceptance.id">
            {{Acceptance.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field appearance="fill" class="w-50 serch" >  
        <!-- [(ngModel)]="IntialValCreateBy"   [ngModelOptions]="{standalone: true}" -->
        <mat-select  formControlName="ActionType" placeholder="--اختر --"   (selectionChange)="selectedValue($event)" >
          <mat-option value="CreatedBy" >اضافة </mat-option>
          <mat-option value="UpdatedBy">
          تعديل
          </mat-option>

        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill"  *ngIf="by" class="w-50 serch"  style="border-right:5px solid #fff">
        <mat-label>تم  بواسطه</mat-label>
        <input matInput formControlName="CreatedBy" >
      </mat-form-field>
      <mat-form-field appearance="fill" class="serch" *ngIf="!by" class="w-50 serch"  style="border-right:5px solid #fff">
        <mat-label>تم  بواسطه</mat-label>
        <input matInput formControlName="UpdatedBy" >
      </mat-form-field>



      <mat-form-field appearance="fill" class="serch">
        <!-- <mat-label>تم التعديل بواسطه</mat-label>
        <input matInput formControlName="updatedBy"> -->
        <!-- [ngModelOptions]="{standalone: true}"  [(ngModel)]="IntialValDate"-->
        <mat-select formControlName="DateType"  placeholder="-- اختر التاريخ --" (selectionChange)="selectedValueOfDate($event)"    >
          <mat-option value="CreatedDate" >تاريخ الاضافة</mat-option>
          <mat-option value="UpdatedDate">
          تاريخ التعديل
          </mat-option>
          <mat-option value="ExpriyDate">
             تاريخ المنصرف
            </mat-option>
            <mat-option value="ReceivedDate">
              تاريخ الوارد
              </mat-option>

        </mat-select>
       </mat-form-field>
      
      <div [hidden]="!appear" class="apear">
        <div class="w-100 d-flex" *ngIf="dateType==3">

          <mat-form-field appearance="fill" class="w-50 serch">
            
              <input [ngxMatDatetimePicker]="CreatedDateFrom"  formControlName="CreatedDateFrom" matInput
              placeholder="من" readonly>
            <mat-datepicker-toggle matSuffix [for]="$any(CreatedDateFrom)"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #CreatedDateFrom >
            </ngx-mat-datetime-picker>
            </mat-form-field>

          <mat-form-field appearance="fill" class="w-50  serch" style="border-right:5px solid #fff">
             
              <input [ngxMatDatetimePicker]="CreatedDateTo"  formControlName="CreatedDateTo" matInput
              placeholder="الي" [min]="service.formSearch.controls.CreatedDateFrom?.value" readonly>
            <mat-datepicker-toggle matSuffix [for]="$any(CreatedDateTo)"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #CreatedDateTo >
            </ngx-mat-datetime-picker>
            </mat-form-field>

          </div>
      <div class="w-100 d-flex" *ngIf="dateType==1">

        <mat-form-field appearance="fill" class="w-50 serch">
          
            <input [ngxMatDatetimePicker]="ReceivedDateFrom"  formControlName="ReceivedDateFrom" matInput
              placeholder="من" readonly>
            <mat-datepicker-toggle matSuffix [for]="$any(ReceivedDateFrom)"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #ReceivedDateFrom >
            </ngx-mat-datetime-picker>
          </mat-form-field>

        <mat-form-field appearance="fill" class="w-50  serch" style="border-right:5px solid #fff">

            <input [ngxMatDatetimePicker]="ReceivedDateTo"  formControlName="ReceivedDateTo" matInput
            placeholder="الي"            [min]="service.formSearch.controls.ReceivedDateFrom?.value" readonly>
          <mat-datepicker-toggle matSuffix [for]="$any(ReceivedDateTo)"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #ReceivedDateTo >
          </ngx-mat-datetime-picker>
          </mat-form-field>

        </div>

      <div class="w-100 d-flex" *ngIf="dateType==4">
      <mat-form-field appearance="fill" class="w-50 serch">
         
          <input [ngxMatDatetimePicker]="UpdatedDateFrom"  formControlName="UpdatedDateFrom" matInput
          placeholder="من" readonly>
        <mat-datepicker-toggle matSuffix [for]="$any(UpdatedDateFrom)"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #UpdatedDateFrom >
        </ngx-mat-datetime-picker>
        </mat-form-field>
      <mat-form-field appearance="fill" class="w-50 serch"  style="border-right:5px solid #fff">
      
          <input [ngxMatDatetimePicker]="UpdatedDateTo"  formControlName="UpdatedDateTo" matInput
          placeholder="الي" [min]="service.formSearch.controls.UpdatedDateFrom?.value" readonly>
        <mat-datepicker-toggle matSuffix [for]="$any(UpdatedDateTo)"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #UpdatedDateTo >
        </ngx-mat-datetime-picker>
        </mat-form-field>

      </div>


      <div class="w-100 d-flex" *ngIf="dateType==2">
        <mat-form-field appearance="fill" class="w-50 serch">
           
            <input [ngxMatDatetimePicker]="ExpriyDateFrom"  formControlName="ExpriyDateFrom" matInput
              placeholder="من" readonly>
            <mat-datepicker-toggle matSuffix [for]="$any(ExpriyDateFrom)"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #ExpriyDateFrom >
            </ngx-mat-datetime-picker>
          </mat-form-field>
        <mat-form-field appearance="fill" class="w-50  serch" style="border-right:5px solid #fff">
           
            <input [ngxMatDatetimePicker]="ExpriyDateTo"  formControlName="ExpriyDateTo" matInput
            placeholder="الى" [min]="service.formSearch.controls.ExpriyDateFrom?.value" readonly>
          <mat-datepicker-toggle matSuffix [for]="$any(ExpriyDateTo)"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #ExpriyDateTo >
          </ngx-mat-datetime-picker>
          </mat-form-field>

        </div>
      </div>
      <div class="hid "  [hidden]="appear" >
        <input   matInput >
      </div>

   
<!--    
      <div class="d-flex w-100 mb-2">
        <mat-form-field appearance="fill" class="serch w-50">
           
            <mat-select  placeholder="--اختر --" (selectionChange)="selectedValue($event)" [(ngModel)]="IntialValCreateBy"   [ngModelOptions]="{standalone: true}">
              <mat-option value="CreatedBy" >اضافة </mat-option>
              <mat-option value="UpdatedBy">
              تعديل
              </mat-option>

            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="serch w-50" *ngIf="by" style="border-right:5px solid #fff">
            <mat-label>تم  بواسطه</mat-label>
            <input matInput formControlName="CreatedBy" >
          </mat-form-field>
          <mat-form-field appearance="fill" class="serch w-50" *ngIf="!by" style="border-right:5px solid #fff">
            <mat-label>تم  بواسطه</mat-label>
            <input matInput formControlName="UpdatedBy" >
          </mat-form-field>
          </div> -->
       


      </div>
      </mat-grid-tile>

  </mat-grid-list>
  

    
  <div class="w-100 justify-content-end btn-group   pl-3" style="margin-top:20px;" >

    <!-- <div class="w-50 text-right">  
      <button mat-icon-button  class="btn-success  mx-1  " (click)="SaveFavoriteSearch()"  type="button" matTooltip="حفظ نتيجة البحث"><mat-icon>save</mat-icon></button> 
      <button mat-icon-button class="btn-warning" (click)="GetFavoriteSearch()"  type="button" matTooltip="استرجاع نتيجة البحث" ><mat-icon>refresh</mat-icon></button> 
     </div>
      <div class="w-50">  -->
    <input mat-raised-button value="مسح " class="btn-danger text-center mx-1 ser " (click)="clearAdvancedSearch()" readonly >

    <button mat-raised-button class="ser " color="warn" >بحث</button>
     <!-- <button mat-raised-button class="ser " (click)="ExportExitPermitExcel()" color="primary" >طباعه</button> -->
   <!-- </div> -->
  </div>
  
   
</form>
    </mat-expansion-panel>

  </mat-accordion>
</div>






















<mat-card class="example-card">
  <mat-card-header>
      <mat-card-title>
      حالة المخزن
      </mat-card-title>
      <!-- <button mat-button class="opt" (click)="UpdateGroupToRecevied()">
       
        <span class="text-primary mr-1"> تعديل الي وارد </span>
           </button>
           <button mat-button class="opt" (click)="UpdateGroupToOutgoing()">
            
            <span class="text-primary mr-1"> تعديل الي منصرف </span>
               </button> -->

      <button mat-button class="opt " (click)="onCreate()">
          <mat-icon class="add-new ico" >add</mat-icon>
       <span class="txt mr-1">اضافة جديد</span>
      </button>
<!-- edit group -->

<button mat-button class="opt  mx-1" [matMenuTriggerFor]="Editmenu" aria-label="">
  <mat-icon  class="txt" >border_color</mat-icon>
  <span class="txt mr-1">تعديل</span>
</button>
<mat-menu #Editmenu="matMenu" >

  <button mat-menu-item class="text-right"  (click)="UpdateGroupToRecevied()">

      <span class=" mr-1"> تعديل الى وارد</span>
      <mat-icon class="txt">arrow_downward</mat-icon>

  </button>

  <button mat-menu-item class="text-right"  (click)="UpdateGroupToOutgoing()">

      <span class=" mr-1"> تعديل الى منصرف</span>
      <mat-icon class="txt">arrow_upward</mat-icon>

  </button>
 

</mat-menu>



<!-- /end edit group -->
      <!-- ----------------------------------------- -->
      <button mat-button class="opt " [matMenuTriggerFor]="menu" aria-label="">
          <mat-icon  class="txt" >insert_drive_file</mat-icon>
          <span class="txt mr-1">خيارات إضافيه</span>
        </button>
        <mat-menu #menu="matMenu" >

          <button mat-menu-item class="text-right"  (click)="exportExcel()">

              <span class=" mr-1">تصدير الى اكسل </span>
              <mat-icon class="txt">file_download</mat-icon>

          </button>

          <button mat-menu-item class="text-right"  (click)="ExportTOEmptyExcel()">

              <span class=" mr-1">تحميل ملف اكسل فارغ</span>
              <mat-icon class="txt">file_download</mat-icon>

          </button>
          <button mat-menu-item class="text-right"   (click)="openBottomSheet()">

              <span class=" mr-1">اضافه من اكسل</span>
              <mat-icon class="txt" >add</mat-icon>

          </button>

        </mat-menu>


  </mat-card-header>
  <mat-divider></mat-divider>
<div class="search-div" fxLayout="row">

  <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput [(ngModel)]="searchKey" placeholder="بحث" autocomplete="off" (keyup)="applyFilter()">
     <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
          <mat-icon>close</mat-icon>
      </button>
  </mat-form-field>
</div>

<!-- <div *ngIf="dataSource==null;else table">
  <app-loading-page></app-loading-page>
</div>

<ng-template #table> -->
    <div class="example-container mat-elevation-z8">

<mat-table [dataSource]="dataSource" multiTemplateDataRows   matSort (matSortChange)="sortData($event)" matSortActive="name" matSortDirection="desc" matSortDisableClear >

  <ng-container matColumnDef="all">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="onselectcheckall($event)" [checked]="alll" >All</mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let row" data-label="All" [ngClass]="{'highlight' : row.isToLate}">
      <mat-checkbox [checked]="isall" (change)="onselectcheck($event,row)"></mat-checkbox>
    </mat-cell>
  </ng-container>


    <ng-container matColumnDef="Id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="رقم"> {{element.id}} </mat-cell>
    </ng-container>
   
    
  <ng-container matColumnDef="TypeStatusName">
    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>   نوع الجهاز      </mat-header-cell>
    <mat-cell *matCellDef="let element" data-label="  نوع الجهاز "> {{element.typeStatusName}} </mat-cell>
  </ng-container>
    <ng-container matColumnDef="Comment">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> كومنت </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="كومنت"> {{element.comment}} </mat-cell>
  </ng-container>
    <ng-container matColumnDef="CustomerName">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> اسم العميل  </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="اسم العميل "> {{element.customerName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="SerielNumber">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> S/N </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label=" S/N"> {{element.serielNumber}} </mat-cell>
    </ng-container>
    <!-- <ng-container matColumnDef="DeviceType">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> نوع الجهاز </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="نوع الجهاز"> {{element.deviceType}} </mat-cell>
    </ng-container> -->

    <ng-container matColumnDef="OrderNumber">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>  رقم الاوردر </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="رقم الاوردر"> {{element.orderNumber}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="RecipientName">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> اسم المستلم </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="اسم المستلم"> {{element.recipientName}} </mat-cell>
    </ng-container>


    <!-- <ng-container matColumnDef="Team">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Team</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label=" Team"> {{element.team}} </mat-cell>
    </ng-container> -->
    <ng-container matColumnDef="TeamName">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>    Team      </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="   Team "> {{element.teamName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Status">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>الحالة</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label=" الحالة"> {{element.status}} </mat-cell>
  </ng-container>
    

    <ng-container matColumnDef="ReceivedDate">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> تاريخ الوارد </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="تاريخ الوارد"> {{element.receivedDate| date:'medium'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ReceviedStatusName">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>  حالة الوارد </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label=" حالة الوارد"> {{element.receviedStatusName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ExpriyDate">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> تاريخ المنصرف </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="تاريخ المنصرف"> {{element.expriyDate|date:'medium'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="OutgoingStatusName">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>  حالة المنصرف </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label=" حالة المنصرف"> {{element.outgoingStatusName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="BR">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>   PR </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label=" BR"> {{element.br}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="ReorderingPoint">
    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>  Reordering Point</mat-header-cell>
    <mat-cell *matCellDef="let element" data-label=" Reordering Point"> {{element.reorderingPoint}} </mat-cell>
</ng-container>
<ng-container matColumnDef="ItemCode">
  <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>  Item Code  </mat-header-cell>
  <mat-cell *matCellDef="let element" data-label="Item Code"> {{element.itemCode}} </mat-cell>
</ng-container>
<ng-container matColumnDef="Meter">
  <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Meter  </mat-header-cell>
  <mat-cell *matCellDef="let element" data-label="Meter"> {{element.meter}} </mat-cell>
</ng-container>
<ng-container matColumnDef="Number">
  <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>  Number  </mat-header-cell>
  <mat-cell *matCellDef="let element" data-label="Number"> {{element.number}} </mat-cell>
</ng-container>

<ng-container matColumnDef="CategoryName">
  <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Category</mat-header-cell>
  <mat-cell *matCellDef="let element" data-label=" Category "> {{element.categoryName}} </mat-cell>
</ng-container>

<ng-container matColumnDef="CompanyName">
  <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>  Company Name  </mat-header-cell>
  <mat-cell *matCellDef="let element" data-label=" Company Name "> {{element.companyName}} </mat-cell>
</ng-container>
<ng-container matColumnDef="ReceviedTypeName">
  <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>  نوع الوارد  </mat-header-cell>
  <mat-cell *matCellDef="let element" data-label=" نوع الوارد "> {{element.receviedTypeName}} </mat-cell>
</ng-container>
<ng-container matColumnDef="AcceptanceName">
  <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>   Acceptance</mat-header-cell>
  <mat-cell *matCellDef="let element" data-label=" Acceptance"> {{element.acceptanceName}} </mat-cell>
</ng-container>
<ng-container matColumnDef="LocationName">
  <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>   Location </mat-header-cell>
  <mat-cell *matCellDef="let element" data-label="Location"> {{element.locationName}} </mat-cell>
</ng-container>

    <ng-container matColumnDef="CreationDate">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> تاريخ الانشاء </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label=" تاريخ الانشاء"> {{element.creationDate|date:'medium'}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="CreatedBy">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> اسم المستخدم</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="اسم المستخدم"> {{element.createdBy}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="UpdateDate">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> تاريخ التعديل</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="تاريخ العديل"> {{element.updateDate|date:'medium'}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="UpdatedBy">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>  التعديل بواسطة</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label=" المستخدم"> {{element.updatedBy}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="action" sticky>
        <mat-header-cell mat-header-cell *matHeaderCellDef> الاجراء</mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="الاجراء">


            <button mat-button   class="btn-success "  matTooltip="Edit" (click)="onEdit(row)">
                <mat-icon>edit</mat-icon>
            </button>

           
        <button mat-button   class="btn btn-warning text-white mx-1"  matTooltip="Log Details" (click)="GetLog(row)">
          <mat-icon>history</mat-icon>
      </button>

      <button mat-button   class="btn-danger " *ngIf="!allow" matTooltip="Delete" (click)="onDelete(row)">
        <mat-icon>delete_forever</mat-icon>
    </button>
        </mat-cell>
   

    </ng-container>



    <!-- <ng-container matColumnDef="details">
      <mat-header-cell mat-header-cell *matHeaderCellDef> details</mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="details">

        <button mat-button   class="btn btn-warning"  matTooltip="Log_Details" (click)="GetLog(row)">
          <mat-icon>history</mat-icon>
      </button>
     
         
      </mat-cell>
 

  </ng-container> -->
  
    <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef colspan="19">
          .... لا يوجد بيانات
        </mat-footer-cell>

    </ng-container>



    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(dataSource.data.length==0 && dataSource !=null)}"></mat-footer-row>
    <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="student-element-row"
    [class.student-expanded-row]="row.isExpanded"></mat-row>


</mat-table>
<!-- end test -->
</div>
<!--
</ng-template> -->

<mat-paginator [pageSizeOptions]="[10,25, 50, 100]"   [pageSize]="10"   showFirstLastButtons></mat-paginator>

</mat-card>


<!-- <button mat-raised-button class="export">Generate Report</button> -->
<div class="search-div" fxLayout="row">

    <ng-template #LIST>
      <mat-toolbar>
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="close()">
          <mat-icon class="x">close</mat-icon>
        </button>
      </mat-toolbar>
      <mat-form-field class="sheet">
        <div class="field">
          <mat-toolbar>

            <input matInput [(ngModel)]="fileAttr" readonly name="name" />


            <button mat-flat-button class="btn-color">
              Browse file
            </button>
          </mat-toolbar>

          <input type="file" #fileInput id="uploadFile" (change)="uploadFileEvtF($event)" name="uploadFile"
            multiple="multiple" />
        </div>
      </mat-form-field>

      <button mat-flat-button (click)="upLoadF()" id="upload" class="d-block">
        <mat-icon>cloud_upload</mat-icon> Upload
      </button>
    </ng-template>

    <ng-template #Msg>
      <mat-toolbar>
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="closeMsg()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar>
      <div  class="sheet">
        <div class="data" [innerHtml]="htmlToAdd">

        </div>
      </div>
    </ng-template>


  </div>



<ngx-spinner type="timer">
  <h5>Loading</h5>
</ngx-spinner>
