
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
  <mat-sidenav-container >
      <mat-sidenav   #sidenav  id="sidenav" [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen" opened>
          <app-sidenav></app-sidenav>

      </mat-sidenav>
      <mat-sidenav-content #side  [ngStyle]="{ 'margin-left.px': contentMargin }">

          <main #main>

              <router-outlet>
              </router-outlet>
              <button  (click)="scrollToTop()" [@fadeInOut] class="scroll-to-top" *ngIf="pageYoffset > 0" >
                <mat-icon>arrow_upward</mat-icon>
              </button>
              <app-footer></app-footer>

          </main>
      </mat-sidenav-content>
  </mat-sidenav-container>
  <ngx-spinner type="timer">
    <h5>Loading</h5>
  </ngx-spinner>
  </div>
