<mat-toolbar class="top" dir="rtl">
    <span class="fill-remaining-space">{{dialogTitle}}</span>
    <div class="w-100">
      <button  class="btn-dialog-close" mat-button  tabIndex="-1" (click)="onClose()"><mat-icon>clear</mat-icon></button>
    </div>

  </mat-toolbar>
  <form [formGroup]="form3" class="normal-form mx-0 " (submit)="onSubmit()" dir="rtl">
    <mat-grid-list cols="2" rowHeight="200px">
      <mat-grid-tile>
        <div class="controles-container">
          <input type="hidden" formControlName="Id">
          <input type="hidden" formControlName="CreationDate">
          <input type="hidden" formControlName="CreatedBy">
          <input type="hidden" formControlName="UpdateDate">
          <input type="hidden" formControlName="UpdatedBy">
          <mat-form-field>
            <input formControlName="Name" matInput placeholder="Name">
            <mat-error>مطلوب</mat-error>

          </mat-form-field>

        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="controles-container">
          <mat-form-field>

            <mat-select formControlName="CategoryId" placeholder=" Category ">
              <mat-option>-- Please select --</mat-option>
              <mat-option  *ngFor="let Category of Category"   [value]="Category.id">
                {{Category.name}}
              </mat-option>
            </mat-select>
            <mat-error>مطلوب</mat-error>
          </mat-form-field>

        </div>
      </mat-grid-tile>


    </mat-grid-list>
    <!-- <mat-grid-list cols="1" rowHeight="50px">
      <mat-grid-tile>
      <div class="button-row w-100 text-center">
        <button mat-raised-button class="btn-success w-50" type="submit" >ارسال</button>

      </div>
      </mat-grid-tile>
      </mat-grid-list> -->
      <mat-toolbar class="bottom">

        <div class="button-row w-100 text-center">
          <button mat-raised-button class="btn-success w-50" type="submit">ارسال</button>
        </div>

      </mat-toolbar>
  </form>

 

