<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>
            حالة الوارد
        </mat-card-title>
        <button mat-button class="opt"  (click)=toggleDisplay()>
            <mat-icon class="add-new ico">add</mat-icon>
            <span class="txt mr-1">اضافة جديد</span> 
        </button>
    </mat-card-header>
    <mat-divider></mat-divider>

    <div class="search-div" fxLayout="row">
        
    
      <form *ngIf="isShowDiv"  [formGroup]="form" (ngSubmit)="onCreateUpdate()" class="example-form"> 
          
            <mat-form-field class="example-full-width">
              <mat-label>الحالة </mat-label>
              <input type="text"  id="picvalid" matInput formControlName="Name" [value]="valdata" (keyup)="onChecknameIsalreadysign()" >
              <input type="hidden" id="picid" formControlName="Id"  [value]="valuid"  placeholder="">
              <span class="mat-error" *ngIf="isNameRepeated">الاسم مسجل مسبقاً</span>
            </mat-form-field><span style="margin-left: 10px;"> </span>
            
           
            <button type="submit" mat-raised-button     class="search text-white"  [disabled]="!Recevied.Name.length || isDisabled">اضافة</button>
         </form> 
       
      <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="بحث" autocomplete="off" (keyup)="applyFilter()"> 
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
             <mat-icon>close</mat-icon>
         </button> 
        
     </mat-form-field>
    </div>
     
    <div class="spinner" *ngIf="dataSource==null || loader ;else table">
      <span>Loading Data ...</span>
      <mat-progress-bar class="example-margin"  mode="buffer" value="50">
    </mat-progress-bar>
      
    </div>

    <ng-template #table>
      <div class="example-container mat-elevation-z8" >
 
      <mat-table [dataSource]="dataSource"  #table  matSort (matSortChange)="sortData($event)" matSortActive="Name" matSortDirection="asc" matSortDisableClear >

    <ng-container matColumnDef="Id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> الرقم</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Id">
         {{element.id}} 
        </mat-cell>
    </ng-container>
  
   
    <ng-container matColumnDef="Name">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> الحالة  </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label=" الحالة">
        <!-- {{element.name}} -->
        <ng-container *ngIf="!editdisabled || element.id!=editUsr">
          {{element.name}} 
         </ng-container>
         <ng-container *ngIf="editdisabled  && element.id==editUsr">
           <mat-form-field hideRequiredMarker="false" appearance="legacy">
             <input matInput placeholder="Name"  name="name" [(ngModel)]="element.name" (keyup)="onChecknameIsalreadysignWhenUpdate(element)">
             <span class="mat-error" *ngIf="isNameUpdatedRepeated && element.id == editUsr">الاسم مسجل مسبقاً</span>
           </mat-form-field>
         </ng-container>
       </mat-cell>
  </ng-container>
  <ng-container matColumnDef="CreationDate">
    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> تاريخ الانشاء </mat-header-cell>
    <mat-cell *matCellDef="let element" data-label=" تاريخ الانشاء"> {{element.creationDate|date : 'yyyy-MM-dd'}} </mat-cell>
</ng-container>
<ng-container matColumnDef="CreatedBy">
    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> اسم المستخدم</mat-header-cell>
    <mat-cell *matCellDef="let element" data-label="اسم المستخدم"> {{element.createdBy}} </mat-cell>
</ng-container>
<ng-container matColumnDef="UpdateDate">
    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> تاريخ التعديل</mat-header-cell>
    <mat-cell *matCellDef="let element" data-label="تاريخ العديل"> {{element.updateDate|date : 'yyyy-MM-dd'}} </mat-cell>
</ng-container>
<ng-container matColumnDef="UpdateBy">
    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>  التعديل بواسطة</mat-header-cell>
    <mat-cell *matCellDef="let element" data-label=" المستخدم"> {{element.updatedBy}} </mat-cell>
</ng-container>
   
   <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> الاجراء </mat-header-cell>
      <mat-cell *matCellDef="let row" data-label="action">
        <!-- <button mat-button (click)="onEdit(row)">
            <mat-icon>launch</mat-icon>
        </button> -->
        <!-- <button mat-button color="warn" (click)="onDelete(row)">
          <mat-icon>delete_outline</mat-icon>
      </button> -->
      <ng-container *ngIf="!editdisabled || row.id != editUsr">
               
        <button mat-button class="btn-success ml-1 font-weight-bolder" matTooltip="Edit"   (click)="editROw(row)">
          <mat-icon>edit</mat-icon>
        </button>
     
        <button mat-button class="btn-danger" matTooltip="Delete"  (click)="onDelete(row)">
          <mat-icon>delete_forever</mat-icon>
                    
        </button>
      </ng-container>
      <ng-container *ngIf="editdisabled  && row.id==editUsr">
        <button  class="btn-success btn ml-1" [disabled]="isDisabled" matTooltip="Update"  (click)="updateEdit(row)">
         <mat-icon>check</mat-icon>
        </button>
       
        <button  class="btn-danger btn " matTooltip="Cancel"   (click)="cancelEdit()">
          <mat-icon>clear</mat-icon>
        </button>
      </ng-container>
    








       
    </mat-cell>
    </ng-container>
        
  <ng-container matColumnDef="noData">
    <mat-footer-cell *matFooterCellDef colspan="6">
    لا يوجد بيانات...
    </mat-footer-cell>

</ng-container>

     
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(dataSource.data.length==0 && dataSource !=null)}"></mat-footer-row>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
   

</mat-table>
<!-- end test -->
</div>
</ng-template>
<mat-paginator [pageSizeOptions]="[10,25,50, 100]" [pageSize]="10" (page)="pageChanged($event)" showFirstLastButtons>
</mat-paginator>
</mat-card>
