.btn-dialog-close{
  width: 25px;
  min-width: 0px !important;
  height: 25px;
  padding: 0px !important;
  background-color: transparent;
border: 0;
outline: none;
color: #fff;
  line-height: 1;
}
btn-dialog-close:focus ,.content-container:focus .btn-dialog-close{
  overflow: hidden;
  border: none !important;
  outline: none !important;
}

mat-toolbar{
height: 45px;
flex-direction: row-reverse;
justify-content: space-between;
background: var(--main-color);
  color: #fff;

}
span{
padding-left: 10px;
font-family: 'Electrolize', sans-serif;
font-weight: 800;
}
#trash{
color:#fff !important;
font-size: 25px;
}
