

<mat-toolbar>

  <span class="">حذف <mat-icon id="trash">delete_outline</mat-icon> </span>
  <button  class="btn-dialog-close ml-0"  (click)="onClose()" id="close-icon" >
      <mat-icon>clear</mat-icon></button>

 </mat-toolbar>
<div>
  <div class="content-container">


     <span class="content-span full-width ">
      هل أنت متأكد أنك تريد حذف هذا السجل ؟
      </span>
  </div>
  <button   mat-stroked-button  id="no-button"  id="no-button" (click)="onClose()">لا</button>
  <button  mat-stroked-button   id="yes-button" (click)="onDelete()">نعم</button>
</div>

