<mat-toolbar>
  <div>

      <a routerLink="/">
          <img src="../../../../assets/image/ccc.png" height="36" width="150"/>
          <!-- <span>Inventory</span> -->

      </a>
  </div>


  <div fxFlex fxLayout fxLayoutAlign="end" >
      <ul fxLayout fxLayoutGap="5px" class="navigation.items top">

          <li>

              <button mat-icon-button >

                  <mat-icon>account_circle</mat-icon>
               </button>
               <span> {{userName}} </span>


          </li>
          <li>
            <!-- *ngIf="!isNotAdmin" -->
              <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="الاعدادات"  aria-label="Example icon-button with a menu" *ngIf="flag!=0">
                  <mat-icon>settings</mat-icon>
                </button>
                <mat-menu #menu="matMenu">

                  <!-- <a mat-menu-item routerLink="/Type">

                    <span> Type</span>

                  </a> -->
                  <a mat-menu-item routerLink="/Type" *ngIf="flag==2 || flag==3" >
                    <span> نوع الجهاز</span>
                  </a>
                  <a mat-menu-item routerLink="/incoming" *ngIf="flag==1 || flag==3">

                    <span> حالة الوارد</span>

                  </a>

                  <a mat-menu-item routerLink="/outgoing" *ngIf="flag==1 || flag==3" >

                    <span>  حالة المنصرف </span>

                  </a>

                  <a mat-menu-item  routerLink="/Category"   *ngIf="flag==2 || flag==3" >

                    <span> Category</span>

                  </a>

                  <a mat-menu-item routerLink="/ReceviedType" *ngIf="flag==1 || flag==3" >

                    <span> نوع الوارد</span>

                  </a>

                  <a mat-menu-item routerLink="/CompanyName" *ngIf="flag==1 || flag==3">

                    <span>   اسم الشركة </span>

                  </a>
                  <!-- <a mat-menu-item routerLink="/InventoryCapacity" *ngIf="flag==1|| flag==3">

                    <span> سعة المخزن  </span>

                  </a> -->

                  <!-- <a mat-menu-item routerLink="/Location" *ngIf="flag==1|| flag==3">

                    <span> المخزن </span>

                  </a> -->

                  <a mat-menu-item routerLink="/Acceptance" *ngIf="flag==1 || flag==3" >

                    <span>   Acceptance </span>

                  </a>
                  <a mat-menu-item routerLink="/Team" *ngIf="flag==1 || flag==3" >

                    <span>   Team </span>

                  </a>

                </mat-menu>

          </li>
          <li>
              <a mat-icon-button   matTooltip="السجلات" routerLink="/history" routerLinkActive="active" >
                  <mat-icon>history</mat-icon>
              </a>
          </li>
          <li>
              <button mat-icon-button  (click)="logOut()"   matTooltip="تسجيل الخروج">
                  <mat-icon>logout</mat-icon>
               </button>
          </li>


      </ul>
  </div>

</mat-toolbar>
<mat-toolbar>
  <div class="brand-box">
    <img src="../../../../assets/image/we-Logo/we-black.jpg" width="70" height="65px">

  </div>
  <div class="brandTitle">
  <span class="brand ml-3">Inventory</span>
  </div>
     <span class="example-spacer"></span>

  <div class="">
    <button
      class="my-1 bg-transparent"
      mat-icon-button
      (click)="onToggleSidenav()"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div fxFlex fxLayout fxLayoutAlign="end">
    <ul fxLayout fxLayoutGap="10px" class="navigation.items seconed">
      <!-- <li>
        <button
          mat-icon-button matTooltip="fullscreen"
          class="matero-toolbar-button"
          fxHide.lt-sm
          (click)="toggleFullscreen()"
        >
          <mat-icon>fullscreen</mat-icon>
        </button>
      </li> -->
      <!-- <li [hidden]="!isPresales">

          <button mat-icon-button [matMenuTriggerFor]="PreSalesmenu" matTooltip="Settings" routerLinkActive="active">
           <mat-icon>settings</mat-icon>

            </button>

            <mat-menu #PreSalesmenu="matMenu">
              <button mat-menu-item routerLink="/sectors" routerLinkActive="active1" >

                <span>Sectors</span>
              </button>
              </mat-menu>
           </li> -->

        <li [hidden]="isNotAdmin">
        <button mat-icon-button matTooltip="Logs " routerLink="./logs" routerLinkActive="active">
          <mat-icon>history</mat-icon>
        </button>
      </li>


<div class="separator" [hidden]="isNotAdmin"></div>
      <li [hidden]="isNotAdmin">
        <!-- *ngIf="!isNotAdmin" -->
          <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Settings" routerLinkActive="active">
              <mat-icon>settings</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
              <!-- <button mat-menu-item routerLink="/servicespeed" routerLinkActive="active1" [queryParams]="{serid: 1}">

                <span>Copper Service Speed</span>
              </button> -->
                <button mat-menu-item routerLink="/servicespeed" routerLinkActive="active1" [queryParams]="{serid: 2}" >

                <span>Fiber Service Speed</span>

                </button>

                <!-- <button mat-menu-item routerLink="/servicespeed" routerLinkActive="active1" [queryParams]="{serid: 3}">

                <span>Microwave Service Speed</span>

                </button> -->
                <button mat-menu-item routerLink="/contacts" routerLinkActive="active1" [queryParams]="{team: 1}">

                  <span>Presales Team</span>
                </button>
                  <!-- <button mat-menu-item routerLink="/contacts" routerLinkActive="active" [queryParams]="{team: 2}" >
                    <mat-icon>group</mat-icon>
                  <span>ESPT Team</span>

                  </button> -->
                  <button mat-menu-item routerLink="/status" routerLinkActive="active1" >

                  <span>Service Status
                  </span>

                  </button>
                  <button mat-menu-item routerLink="/sectors" routerLinkActive="active1" >

                    <span>Sectors</span>
                  </button>
              </mat-menu>

      </li>

    </ul>
  </div>
</mat-toolbar>
