 /* mat-card::after {
    content: " ";
      width: 0; 
      height: 0; 
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 50px solid #f9f9f9;
      position: absolute;
      right: 20px;
      top:-45px;
    
    }  */
  
  
    .content-body{
      min-height:100vh;
      padding:55px 1rem 30px 1rem;
      background-image: url("../../../../assets/image/bc2.jpg");
      background-attachment: fixed;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      
      display: block;
      position: relative;
    }
     
    .content-body::before{
      content: "";
    position: absolute;
      left: 0;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      /* background:#444347bf; */
     
/*      
     background: linear-gradient(to left,#eeeeee82 , #ffffff14 );
      background:-webkit-linear-gradient(to left,#eeeeee82 , #ffffff14 );
      background:-moz-linear-gradient(to left,#eeeeee82 , #ffffff14 );
      background:-o-linear-gradient(to left,#eeeeee82 , #ffffff14 ); */
    
    }
    h2{
      text-align: left;
        margin-left: 10%;
        color: var(--main-color);
       
       
       
        /* visibility: hidden; */
    }
    mat-card{
       background-color:#ffffffd6  !important; 
      max-width: 500px;
      margin: 1.5em 70px 1.5em auto;
      text-align: center;
      height: 500px;
      /* border-radius:30px 0 30px 0 !important; */
      padding-top: 0px !important;
      color: var(--main-color)!important;
      position: relative;
      
     
    }
    .mat-card:not([class*=mat-elevation-z]){
      box-shadow: 14px 0px 20px -9px rgb(30 30 31 / 49%), -14px 10px 20px -9px rgb(30 30 31 / 55%) !important;
      /* box-shadow: 14px 0px 20px -9px rgb(30 30 31), -14px 10px 20px -9px rgb(30 30 31) !important; */
    
    }
    .header{
       /* position: absolute; */
      text-align: center;
      margin: 0 auto 30px auto; 
      width: 300px;
      /* height: 90px; */
    align-items: center;
      padding:30px 15px
     
    
    }
    .full-width{
      width: 80%;
    }
    .forgot-password{
      padding-left: 0px;
    }
    .email-input{
      padding-top: 20px;
    }
    .aLink{
      float: left; 
       padding-left:50px;
      text-decoration:none;
      font-size: 16px;
      color: crimson;
      display: none;
     
    }
    .form-input{
      margin-bottom:20px
    }
    .login{
     
      background-color: var(--fifth-color);
      
      color: #ffffff;
      width: 80%;
      border-radius: 5px;
      margin-top: 35px;
      font-size: 18px;
      letter-spacing: 1px;
      box-shadow: 0px 5px 8px #818181;
    }
    .login:hover{
      background-color: var(--seconed-color);
      /* transform: translateY(5px);*/
      transition: all .25s ease-in; 
    }
    .mat-input-element{
      color: var(--main-color) !important;
    }
  mat-label{
      color: var(--main-color) !important;
  
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus
     { -webkit-text-fill-color: var(--seconed-color);
      box-shadow: 0 0 0px 1000px transparent inset;
      transition: background-color 5000s ease-in-out 0s;
    }
    .mat-form-field{
      margin-bottom: 25px !important;
    }
    .mat-typography h2 {
      
      margin: 0 0 25px;
    }
    .mat-button-wrapper{
      color:#313131 !important;
    }
    .mat-icon-button{
      color:#313131;
    }
  
    .msg-error{
      height: 10px;
      
       padding-left:50px;
      text-decoration:none;
      font-size: 16px;
    }
    .msg-error mat-icon{
      vertical-align: bottom; 
    }
    h4{
      color: var(--seconed-color);
      font-family: 'Genos', sans-serif;
      font-weight:700;
    }
    h4 img{
      vertical-align: bottom !important;
    }
   h4 span{
    font-family: 'Genos', sans-serif !important;
    font-weight: bold;
    font-size: 30px;
    color: #565656;

   }
   #pointer {
    width: 250px;
    height: 45px;
    position: relative;
    background: #131313;
    padding: 3px;
    top: 15px;
    left: -18px;
    box-shadow: 2px 2px 8px #3d3c3c;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }
  /* #pointer:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  } */
  #pointer:before {
    content: "";
    position: absolute;
    right: -23px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 22.7px solid #131313;
    border-top: 22.5px solid transparent;
    border-bottom: 22.3px solid transparent;
  }