<div class="content-body">
    <mat-card>
    <div id="pointer">
      <img src="../../../../assets/image/slogan.gif" height="40px" width="100%">
    </div>
        <mat-card-content>

            <div class="pt-5 pb-3">
              <h4>
                <img src="../../../../assets/image/logo.png" width="150" height="80">
              </h4>
            </div>
            <!-- <div class="pl-5 my-3 text-left">
                <h4>
                <img src="../../../../assets/image/Telecom.png" height="35">
            <span>We</span> | ENTERPRISE SUPPORT</h4>
            
            </div> -->
            
                
            <form (ngSubmit)="onSubmit()" name="form" [formGroup]="form">
               
                <!-- <div class="email-input form-input"> -->
                    <!--     Email       -->
                    <mat-form-field class="full-width" >
                        <mat-label>User Name</mat-label>
                        <input formControlName="username" matInput required>
                        <button mat-icon-button matSuffix >
                          <mat-icon>account_circle</mat-icon> 
                        </button>
                       
                        
                        <mat-error *ngIf="form.controls['username'].errors?.required">
                         Required UserName  
                        </mat-error>
                      
                    </mat-form-field>
                <!-- </div>
                <div class="form-input"> -->
                    <!-- <span class="aLink">Forgot Password ?</span> -->
                
                     <!--    Password      -->
                     <mat-form-field class="full-width" >
                        <mat-label>Password</mat-label>
                        <input formControlName="password" matInput type="password" required>
                         <button mat-icon-button matSuffix >
                            <mat-icon>https</mat-icon> 
                          </button>
                        <!-- <button mat-icon-button matSuffix (click)="hide =!hide" [attr.aria-label]="'Hide Password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? "visibility_off" : "visibility"}}</mat-icon>       
                        </button> -->
                    
                        <mat-error *ngIf="form.controls['password'].errors?.required">Required password.</mat-error>
                      
                    </mat-form-field> 
                    <div class="msg-error text-left">
                      <mat-error *ngIf="warning" > 
                         <mat-icon>warning</mat-icon> 
                          Username or Password is incorrect 
                        </mat-error>
                   </div>
                     <!-- <span class="aLink">
                    <mat-icon>warning</mat-icon> 
                       username or Password is incorrect 
                      </span> -->
                <!-- </div> -->
                <button mat-flat-button class="login">Login</button>
            </form>
       
        </mat-card-content>
    </mat-card>
  
  </div>
  